<div class="container-fluid">
  <h2 class="text-center">Reactive Form</h2>

  <div class="row gx-5">

    <div class="col-4">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Project Name</label>
          <input type="text" class="form-control" name="projectName" formControlName="projectName">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" name="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="">Project Status</label>
          <select name="projectStatus" class="form-control" formControlName="projectStatus">
            <option>Stable</option>
            <option>Critical</option>
            <option>Finished</option>
          </select>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


</div>
